@font-face {
  font-family: 'Neue Machina';
  src: url(./assets/Font/PPNeueMachina-InktrapRegular.otf);
}

@font-face {
  font-family: 'Lobster';
  src: url(./assets/Font/Lobster-Regular.ttf);
}

body {
  font-family: 'Neue Machina';
}

.hero-section {
  background-image: linear-gradient(0deg, #191f3ff7, #191f3f75), url(/src/assets/images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.dark-bg {
  background-color: #191f3ff7 !important;
  color: white;
}

.navbar.fixed-top {
  background-color: #191f3fc1 !important;
  animation: fadeInDown 0.3s ease !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

@keyframes fadeInDown {
  from {
    opacity: 1;
    transform: translateY(-20px);
  }

  to {
    opacity: 0;
    transform: translateY(0);
  }
}

.text-main {
  color: #191f3ff7;
}

.text-main:hover {
  color: #191f3ff7;
}

.font-main {
  font-family: 'Lobster';
}

.text-pink {
  color: #ff0088;
}

.bg-hot-pink {
  background-color: #ff0088;
}

.bg-light-pink{
  background-color: #ff00889d;
}
.search-input {
  outline: none !important;
  background-color: transparent !important;
  border: none !important;
  color: #0f1432 !important;
}

.pointer {
  cursor: pointer;
}

.outline-0 {
  outline: none;
}

.btn-hot-pink {
  background-color: #ff0088;
  border: 2px solid #ff0088;
}

.btn-pink {
  background-color: #ff0088;
  border: 2px solid #ff0088;
  color: white;
}

.btn-pink:hover {
  background-color: #ff0088;
  border: 2px solid #ff0088;
  color: white;
}

.btn-hot-pink:hover {
  background-color: transparent;
  border: 2px solid #ff0088;
}

.btn-hot-pink-outline {
  background-color: transparent;
  border: 2px solid #ff0088;
}

.border-pink {
  border: 2px solid #ff0088;
}

.btn-hot-pink-outline:hover {
  background-color: #ff0088;
  border: 2px solid #ff0088;
}

.gradient-border {
  border-right: 3px solid;
  border-image: linear-gradient(to bottom, #ff0088, #820e21) 1 100%;
}

.scroll-container {
  width: 100%;
  height: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.bg-hover:hover {
  background-color: #191f3f0a;
  border-radius: 3px;
}

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #efeeee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #efeeee;
}

.img {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.577);
  object-fit: cover;
}

.image-container {
  position: relative;
  display: inline-block;
  height: 400px;
  width: 250px;
  overflow: hidden;
}

.symbol {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.w-45px {
  width: 45px;
  height: 45px;
}

.h-250px {
  height: 250px;
}

.hw-1 {
  width: 350px;
  height: 200px;
}

.mt-20 {
  margin-top: 14rem;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: linear-gradient(to bottom, #191f3f97, #191f3f);
  color: #fff;
}

.small-card-container {
  position: relative;
  display: inline-block;
  height: 200px;
  width: 330px;
  overflow: hidden;
}

.small-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: linear-gradient(to bottom, #020410c1, #191f3f);
  color: #fff;
}

.bg-lighter-pink {
  background-color: #ff008891;
  color: white;
}

.image-container:hover .overlay,
.small-card-container:hover .small-card-overlay {
  opacity: 1;
}

.fs-7 {
  font-size: 0.8rem;
}

.text-hover-color:hover {
  color: #ff0088d4 !important;
  transition: all 0.2s;
}

.nav-control .active {
  background-color: #191f3f;
  color: white;
  border-radius: 50rem;
}

.selected {
  background-color: #191f3f19 !important;
}

.radial-progress-background {
  transition: stroke-dashoffset 0.35s;
}

.radial-progress-bar {
  stroke-linecap: round;
  transition: stroke-dashoffset 0.35s;
}

.radial-progress-text {
  font-size: 10px;
  font-weight: bold;
  fill: white;
  font-family: sans-serif;
}

.inner-content {
  width: 100%;
  padding: 30px 40px;
  z-index: 0;
  box-sizing: border-box;
}

.w-xl {
  width: 80%;
}

.w-90 {
  width: 90% !important;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 2px solid #ff0088d4;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 4px;
  top: 4px;
  border: 2px solid black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.w-500 {
  width: 500px;
}

.modal-content {
  background-color: black;
}

.modal-dialog {
  width: 90% !important;
}

.bg-radient {
  background: linear-gradient(180deg, #fffdfd00 45%, #191f3fe3 100%);
}
 

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 650px) {
  .fs-8 {
    font-size: 0.8rem;
  }

  .w-xl {
    width: 100%;
  }

  .inner-content {
    padding: 30px 10px;
  }

  .w-75 {
    width: 100% !important;
  }

  .w-90 {
    width: 100%;
  }
  /* .mt-20 {
    margin-top: 2rem;
  } */
}